.bottom-cta {
	background: #FFFFFF;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.twitter-tweet {
	text-align: center;
	margin: 0 auto;
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.list {
	li {
		font-weight: 300;
		margin-bottom: 6px;
		font-size: 18px;
    	color: #303336;
	}
}

.hero {
	color: #ffffff;
    text-align: center;
    background: linear-gradient(to bottom, #000000 0%, #412b9a 100%) no-repeat #3f3f61;
    padding-top: 50px;

	p {
		color: #fff;
	}
}

.appcenter {
	width: 200px;
    height: 69px;
	margin: 1em;
	margin-bottom: 0px;
}

.flathub {
	width: 200px;
    height: 60px;
    margin: 1em;
    margin-bottom: 4px;
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
